@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-grey {
  background-color: #f5f5f5;
}

.cell {
  border-radius: 0.35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: white;
  gap: 0.3rem;
}

/* Left side bar styles */

ul#left-side-bar > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem;
}

ul#left-side-bar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
}



ul#left-side-bar > *:hover {
  background-color: #d7d0e1;
  border-radius: 0.35rem;
  text-decoration: underline;
}